a.out
.ccls*
*.so
compile_commands.json
libsimple.*
build/
build-ios/
*.gch
bin/
output/
output-no-jieba/
chat.db
examples/node/node_modules/
examples/node/lib/
examples/go/gosimple
examples/go/libsimple-osx-x64/

# CLion
.idea/
cmake-build-debug/


